.registration
  .registration__container
    .registration__container__inner
      %h2 Sign up
      = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
        = devise_error_messages!

        .field
          = f.label :name
          %br/
          = f.text_field :name,autofocus: true, autocomplete: "本名"

        .field
          = f.label :username
          %em
            (20 characters maximum)
          %br/
          = f.text_field :username,autofocus: true, maxlength: "20", autocomplete: "ユーザーネーム"

        .field
          = f.label :email 
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"

        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum) 
          %br/
          = f.password_field :password, autocomplete: "パスワードを入力"
          
        .field
          = f.label :password_confirmation 
          %br/
          = f.password_field :password_confirmation, autocomplete: "もう一度パスワードを入力"
        
        .field
          = f.label :website
          %br/
          = f.text_field :website,autofocus: true, autocomplete: "Webサイト"

        .field
          = f.label :phone
          %br/
          = f.text_field :phone,autofocus: true, autocomplete: "電話番号"

        .field
          = f.label :gender
          %br/
          = f.select :gender, [["男", 1],["女", 2],["その他", 3]]
        
        .actions
          = f.submit "Sign up"

      = render "devise/shared/links"
