.top
  = render "layouts/header"
.user__edit
  .user__edit__left
    .user__edit__left__container
      %p.tab__select プロフィール編集
      %p.tab__select パスワード変更
      %p.tab__select SNS認証
      %p.tab__select サポート
      %p.tab__select プライバシーとセキュリティ
      = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "tab__select"
  .user__edit__right
    = form_with model: current_user, local: true, html: {class: "edit__current__user"} do |f|
      .form-group
        .current__avatar
          - if current_user.avatar.attached?
            = image_tag current_user.avatar, class: 'avatar'
        .edit__user__form
          %p.username= current_user.username
      .form-group
        = f.label :プロフィール画像, class: 'form-label'
        .edit__user__form
          = f.file_field :avatar, class: 'form__box'
      .form-group
        = f.label :名前, class: 'form-label'
        .edit__user__form
          = f.text_field :name, class: 'form__box'
      .form-group
        = f.label :ニックネーム, class: 'form-label'
        .edit__user__form
          = f.text_field :username, class: 'form__box'
      .form-group
        = f.label :ウェブサイト, class: 'form-label'
        .edit__user__form
          = f.text_field :website, class: 'form__box'
      .form-group
        = f.label :現在地, class: 'form-label'
        .edit__user__form
          = f.text_area :bio, class: 'form__box__bio'
      .form-group
        = f.label :email, class: 'form-label'
        .edit__user__form
          = f.text_field :email, class: 'form__box'
      .form-group
        = f.label :電話番号, class: 'form-label'
        .edit__user__form
          = f.text_field :phone, class: 'form__box'
      .form-group
        = f.label :性別, class: 'form-label'
        .edit__user__form
          = f.text_field :gender, class: 'form__box'
      .form-group
        .edit__user__form
          = f.submit "送信する", class: 'edit__form__submit'
