.top
  = render "layouts/header"
.user__wrapper
  .user__wrapper__container
    .user-profile
      .profile
        .avatar
          .wrapper
            - if @user.avatar.attached?
              = image_tag @user.avatar
        .basic-info
          .user-wrapper
            %h2.username= @user.username
            - if @user == current_user
              %a.edit-profile{href: "#{edit_user_path(@user)}"}
                %button プロフィール変更
          %ul.posts
            %li
              %span>= @posts.count
              ツイート
            %li
              %span> 195
              フォロワー
            %li
              %span> 2
              フォロー
          %h2.name= @user.name
          = link_to @user.website, @user.website, class: 'website'
          = render "relationships/follow_button",user: @user
      .user-tabs
        %a.tab.active{href: "#"}
          %i.fa.fa-th
          投稿
        %a.tab{href: "#"}
          %i.fa.fa-bookmark
          いいね
        %a.tab{href: "#"}
          %i.fa.fa-star
          ランキング
      .image-wrapper
        .user-images
          - @posts.each do |post|
            .wrapper
              = link_to post_path(post) do
                = image_tag post.image,class: "image"
        %p いいねしている投稿
        .image-wrapper
          .user-images
            - @user.liked_posts.each do |post|
              .wrapper
                = link_to post_path(post) do
                  = image_tag post.image,class: "image"
        %p ランキング
        .image-wrapper
          .user-images
            - @my_ranks.each.with_index(1) do |post, i|
              .wrapper
                = link_to post_path(post) do
                  = image_tag post.image,class: "image"
