<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if @user == current_user %>
          <a class="edit-profile" href="<%=edit_user_path(@user)%>">
            <button>プロフィール変更</button>
          </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span>ツイート</li>
        <li><span>195</span>フォロワー</li>
        <li><span>2</span>フォロー</li>
      </ul>
      <h2 class="name"><%= @user.name %></h2>
      <%= link_to @user.website, @user.website, class: 'website' %>
      <%= render "relationships/follow_button",user: @user %>
    </div>
  </div>

  <div class="user-tabs">
    <a class="tab active" href="">
      <i class="fa fa-th"></i>
      投稿
    </a>
    <a class="tab" href="">
      <i class="fa fa-bookmark"></i>
      いいね
    </a>
    <a class="tab" href="">
      <i class="fa fa-star"></i>
      ランキング
    </a>
  </div>

<div class="image-wrapper">
  <div class="user-images">
    <% @posts.each do |post| %>
      <div class="wrapper">
        <%= link_to post_path(post) do %>
          <%= image_tag post.image,class: "image" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>いいねしている投稿</p>
  <div class="liked user-images">
    <% @user.liked_posts.each do |post| %>
      <div class="wrapper">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image,class: "image" %>
          <% end %>
        </div>
    <% end %>
  </div>
   <p>ランキング</p>
  <div class="my_rank user-images">
    <% @my_ranks.each.with_index(1) do |post, i| %>
      <div class="wrapper">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image,class: "image" %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>