.top
  = render "layouts/header"

%header.slide__wrapper
  .slide__wrapper__container
    .slideshow
      .slideshow-slides
        %a#slide-1.slide{href: "./"}= image_tag 'slide-1.jpg'
        %a#slide-2.slide{href: "./"}= image_tag 'slide-2.png'
        %a#slide-3.slide{href: "./"}= image_tag 'slide-3.jpg'
      .slideshow-nav
        %a.prev{href: "#"} Prev
        %a.next{href: "#"} Next
      .slideshow-indicator
    .wave-box
      .wave.-one
      .wave.-two
      .wave.-three
      .title
        MIYAKOLO

.main
  %section.topics
    %h2.topics__title TOPICS
    #caption.images
      .image-content
        %h2 Post
        %p
          %a{href: posts_path(current_user.id)}
            %img.image{alt: "", height: "230", src: "/assets/topic-1.jpg", width: "304"}
            %strong 好きな景色を投稿しよう
            %span
      .image-content
        %h2 Gallery
        %p
          %a{href: users_path(current_user.id)}
            %img.image{alt: "", height: "230", src: "/assets/topic-2.jpg", width: "304"}
            %strong 好きな景色を探そう
            %span
      .image-content
        %h2 Map
        %p
          %a{href: maps_path(current_user.id)}
            %img.image{alt: "", height: "230", src: "/assets/topic-3.jpg", width: "304"}
            %strong どこが人気か調べよう
            %span

  %section#info.info-section
    .info-section__container
      .info-section__container__left
        .info-section__container__left__inner
          %h2.info-section__container__left__inner__title INFO
          %ul.info-section__container__left__inner__scroll-list
            %li.info-section__container__left__inner__scroll-list__item
              %time.date{datetime: "2020-03-09"} 2020.03.09
              %span.category.news NEWS
              %span.title NEWSを更新しました
            %li.info-section__container__left__inner__scroll-list__item
              %time.date{datetime: "2020-03-09"} 2020.03.09
              %span.category.news NEWS
              %span.title NEWSを更新しました
            %li.info-section__container__left__inner__scroll-list__item
              %time.date{datetime: "2020-03-09"} 2020.03.09
              %span.category.news NEWS
              %span.title NEWSを更新しました
            %li.info-section__container__left__inner__scroll-list__item
              %time.date{datetime: "2020-03-09"} 2020.03.09
              %span.category.news NEWS
              %span.title NEWSを更新しました
          .info-section__container__left__inner__share
            %ul.info-section__container__left__inner__share__sns
              %li.info-section__container__left__inner__share__sns__tw
                %i.fa.fa-twitter
                %span Twitter
              %li.info-section__container__left__inner__share__sns__fb
                %i.fa.fa-facebook
                %span Facebook
              %li.info-section__container__left__inner__share__sns__gp
                %i.fa.fa-google-plus
                %span Google+
      .info-section__container__right
        .info-section__container__right__api
          %a.twitter-timeline{"data-height": "315", href: "https://twitter.com/shirokuma71exp?ref_src=twsrc%5Etfw"} Tweets by shirokuma71exp
          %script{async: "", charset: "utf-8", src: "https://platform.twitter.com/widgets.js"}
.footer
  = render "layouts/footer"
