!!!
%html.no-js{lang: "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title MIYAKOLO
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "jquery.ba-throttle-debounce.min.js"
    = javascript_include_tag "jquery.smooth-scroll.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "modernizr.custom.js"
    = javascript_include_tag "main.js"
  %body
    = yield
