<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <title>MIYAKOLO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "jquery.ba-throttle-debounce.min.js" %>
    <%= javascript_include_tag "jquery.smooth-scroll.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "modernizr.custom.js"%>
    <%= javascript_include_tag "main.js" %>
  </head>

  <body>
    <%# Navigation Bar %>
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="nav-header">
          <p><%= fa_stacked_icon "user inverse",base: "circle" %> MIYAKOLO</p>
          <div id="nav-drawer">
            <div>
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" id="nav-input"></label>
              <div id="nav-content">
                <ul class="nav-details">
                  <li><a>マイページ</a></li>
                  <li><a>POST</a></li>
                  <li><a>GALLERY</a></li>
                  <li><a>MAP</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="m-auto">
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
            <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-3 col-12', placeholder: '検索キーワード' %>
          <% end %>
        </div>
        <div class="user-section">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class: "log__out" %>
            <%= link_to "マイページ", user_path(current_user.id),class: "log__in" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path,class: "log__out"  %>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "log__in" %>
          <% end %>
        </div>
      </div>
    </nav>

    <%# Main Content %>
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <%# footer %>
    <footer class="container footer">
      <nav class="navbar d-flex">
        <p>©️ 2020 KUMAKURA KENJI </p>
    </footer>
  </body>
</html>
